body {
    margin: 0;
}

#top {
    width: 100%;
    height: 10%;
    background-color: black;
    padding: 10px 20px;
}

#center {
    width: 100%;
    height: 70%;
    background-color: red;
}

#main_panel {
    width: 52%;
    height: 90%;
    position: absolute;
    left: 24%;
    background-color: blue;
}

#footer {
    width: 52%;
    height: 15%;
    position: absolute;
    top: 85%;
    left: 24%;
    background-color: green;
}

.gumb {
    font-family: "Comic Sans MS";
    background-color: black;
    color: white;
    text-align: center;
    float: right;
    position: relative;
    border: none;
}

.gumb:hover {
    color: grey;
}

#prvi {
    right: 18%;
}

#drugi {
    right: 20%;
}

#tretji {
    right: 22%;
}

.naslov {
    color: white;
    font-family: "Comic Sans MS";
    position: relative;
    left: 18%;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}
